                                         /*base class*/

.dib { display: inline-block; }

.FL  { float: left; }

.FR  { float: right; }

.clear  { clear: both; }

                                       /*other class*/


.line1-index { width: 1366px; 
	        margin: 0 auto;  }

.h5-line1 { margin-top: 82px;
            margin-left: 163px;
            width: 90px;
            color: #5863F8;
            font-size: 14px; }

.h2-line1 { margin-top: 1px;
            margin-left: 163px;
            font-size: 42px;
            width: 422px;
            color: #000000; }

.box1,
.box4 { width: 536px; 
        background-color: #F8F8F8;
        margin-top: 54px;
        margin-left: 163px; }

.box1-img,
.box2-img { width: 168px;
	     vertical-align: middle;
            height: 190px; }

.box1-h4,
.box2-h4 { width: 39px;
           color: #5863F8;
           font-size: 14px;
           margin-left: 16px;
           margin-top: 37px; }

.box1-h3,
.box2-h3 { width: 168px;
	    margin-top: 1px;
           margin-left: 16px;
           font-size: 18px;
           color: #000000; }

.box1-p,
.box2-p { width: 260px;
          margin-left: 16px;
          margin-top: 11px;
          font-size: 14px;
          color: #B1B1B1; }

.box2 { width: 536px; 
        background-color: #F8F8F8;
        margin-top: 54px;
        margin-left: 16px; }

.box3 { width: 536px; 
        background-color: #F8F8F8;
        margin-top: 16px;
        margin-left: 163px; }

.box4 { width: 536px; 
        background-color: #F8F8F8;
        margin-top: 16px;
        margin-left: 16px; }